<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Home</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial;
            text-align: center;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            overflow-x: hidden;
        }
    </style>
</head>

<body>
    <%- include('partials/nav') %>

        <h1>Welcome to the PrimeTrade</h1>
        <p>Simple frontend for testing APIs.</p>

</body>

</html>